.char-home-page {
  .person-main {
    padding: 50px 0 140px;
    .container {
      .person-inner {
        display: flex;
        img {
          width: 293px;
          height: 293px;
          object-fit: cover;
          margin-right: 50px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;        }
        .content {
          display: flex;
          flex-direction: column;
          .title {
            font-size: 22px;
            font-weight: 700;
            line-height: 26px;
            color: #000;
            margin-bottom: 25px;
          }
          .text {
            font-size: 18px;
            font-weight: 400;
            line-height: 21px;
            width: 550px;
            color: #000;
          }
        }
      }
    }
  }
}
